<%= f.fields_for :tags do |tag_form| %>

  <div class="field">
    <%= tag_form.label :name, 'Tag:' %>
    <%= tag_form.text_field :name %>
  </div>

  <% if tag_form.object.present? && tag_form.object.persisted? %>
    <div class="field">
      <%= tag_form.label :_destroy, 'Remove:' %>
      <%= tag_form.check_box :_destroy %>
    </div>
  <% end %>

<% end %>
